{% extends 'base.html' %}

{% block title %}
Name Lister
{% endblock title %}

{% block content %}
<div class="main-content">
    <header>
    <h1>Name Lister</h1>
    </header>
   <hr>
        {% include 'navbar.html' %}
   <hr>
    <div class="main-table">
        <form action="/names/"  method="get" >
            <table>
                <tr>
                    <th colspan="2"> <input type="text" name = "search" placeholder="Search by name"></th>
                    <th>  <input type="submit"value="Search"/></th>
                    <th></th>
                    <th>  <input class="btn btn-secondary" type="submit" name="sortnames" value="Sort by name"/></th>
                    <th>  <input class="btn btn-secondary" type="submit" name="sortamount" value="Sort by amount"/></th>
                </tr>
            </table>

        </form>

    </div>
     {% if messages %}
            <div>
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{message}}
                </div>
            {% endfor%}
            </div>
        {% endif %}
    <div class="main-table">
        <h5>Total Names: {{total_names}}</h5>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Amount</th>
            </tr>
        {% for person in name_list %}
             <tr>
                  <td>{{person.name}}</td>
                  <td>{{person.amount}}</td>

              </tr>
              {% endfor %}
            </table>
        </div>


</div>
{% endblock content %}
