{% extends 'base.html' %}

{% block title %}
Name Lister
{% endblock title %}

{% block content %}
<div class="main-content">
    <header>
    <h1>Name Lister</h1>
    </header>
   <hr>
        {% include 'navbar.html' %}
   <hr>
    <div>
            <button type="sort" name="ascending">Sort names (asc)</button>
        <button type="sort" name="descending">Sort names (des)</button>

    </div>
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Amount</th>
            </tr>
        {% for person in name_list %}
             <tr>
                  <td>{{person.name}}</td>
                  <td>{{person.amount}}</td>

              </tr>
              {% endfor %}
            </table>
        </div>


</div>
{% endblock content %}
